
@{
    Layout = null;
}
<a href="/Default/Urunler">Ürünler Sayfası</a>
<a href="/Default/Musteriler">Müşteriler Sayfası</a>
<a href="/Default/Deneme">Sehirler Sayfası</a>

<h1>Index Sayfası</h1>
<h1>Merhaba Core Oop Projesi</h1>
<h3>Dersler Devam Ediyor</h3>
<h4>Deneme</h4>

<h1>Mesaj Listesi</h1>
<h1>-------------------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>

<!--viewBag.v ile başlayan iki tane metot var ve bu kod en son çağrılanı verecektir.-->
<h2>@ViewBag.v</h2>

<h2>Sonuç: @ViewBag.sonuc</h2>